body {
	margin: 0;
	padding: 0;
}


.cardsetselection {
	display: inline-block;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 2px;
	margin: 2px;
	font-family: "Roboto";
	color: #666;
	background-color: #ccc;
	transition: color .4s, background-color .4s;
	cursor: default;
}

.cardsetselection.active {
	color: #fff;
	background-color: #00F;
}

.cardsetselection.admin {
	/*Make card selection look pressable to the owner of the room */
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.cardsetselection.admin:focus {
	/*TODO Nice focus effect*/
	outline:0;
}
.cardsetselection.admin:hover {
	background-color : #9cb1ef;
}

#playingfield,#user_hand {
	display:block;
	margin: none;
	padding: none;
	width:100%;
}

#user_hand {
	position: absolute;
	bottom: 0;
	vertical-align: bottom;
	border-top: 2px solid #444;
}

.card {
	position: relative;
	display: inline-block;
	font-size: 1.1em;
	font-family: Roboto,sans-sarif;
	width: 9vw;
	height: 12.8vw;
	vertical-align: top;
	margin: 10px 0.39vw;
	word-wrap: break-word;

	perspective: 600px;
	transition: transform .2s;

	/*Border on both for identical size*/
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
}

.card:hover {
	transform: scale(1.15);
}

.card.a {
	/*Rules specific to white cards*/
}

.card.q {
	background-color: #151515;
	color: white;
}

.card .text {
	margin: 5px 5px;
}

.card .tag {
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 5px 5px;
}

.card .pick {
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 5px;
}
